{{ define "main" }}
  <style>
    .hero-section {
      color: white;

      h1 {
        color: white;
        font-weight: 800;
      }

      h2 {
        color: #79b8e5;
      }
    }

    video {
      width: 100%;
      object-fit: cover;
      position: absolute;
      z-index: -1;
      top: 60px;
      left: 0;
      filter: brightness(65%);
    }

    main {
      padding-top: 200px;
    }
  </style>

  <section class="hero-section" style="height: 400px;">
    <h1>Building with People</h1>
    <h2><strong>Great things are built in community.</strong></h2>

    <video loop muted autoplay preload="auto" width="100%">
      <source src="/videos/hero.mp4" type="video/mp4">
    </video>
  </section>

  <main>
    {{ .Content }}
  </main>
{{ end }}
